{% extends '/influencer/influencer_dashboard.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="mt-1">

    {% if negotiations %}



     <h1 class='text-center text-secondary '><u>Accepted AdRequests</u></h1>
     <table class='table'>
       <thead class='bg-dark text-white'>

       <tr>
         <th>AdRequest Id</th>
         <th>Message</th>
         <th>Requirements</th>
        <th>Payment Amount</th>
         <th>Status</th>
       </tr>
       </thead>
       {% for negotiation in negotiations %}
       {% if negotiation.adrequest.campaign.visibility=='Private' and negotiation.adrequest.status=='ACCEPTED' %}
       <tr>
          <td>{{negotiation.adrequest.adrequest_id}}</td>
         <td>{{negotiation.adrequest.message}}</td>
         <td>{{negotiation.adrequest.requirements}}</td>
         <td>{{negotiation.adrequest.payment_amount}}</td>
          <td>{{negotiation.adrequest.status}}</td>
       </tr>
       {% endif %}
       {% endfor %}

     </table>

   {% else %}<h1 class='text-center text-danger mt-5'>No Notifications Yet</h1>
     {% endif %}

</div>

{% endblock %}