{% extends '/influencer/influencer_dashboard.html' %}
{% block title %}Profile{% endblock %}
{% block content %}

<div class="mt-1">
   
    {% if negotiations %}
    
          
    
     <h1 class='text-center text-secondary '><u>Negotiations</u></h1>
     <table class='table'>
       <thead class='bg-dark text-white'>

       <tr>
         <th>AdRequest Id</th>
         <th>Message</th>
         <th>Requirements</th>
        <th>Payment Amount</th>
         <th>Status</th>
         <th>Negotiation</th>
         <th>Edit Negotiation</th>
       </tr>
       </thead>
       {% for negotiation in negotiations %}
       {% if negotiation.adrequest.campaign.visibility=='Public'%}
       <tr>
          <td>{{negotiation.adrequest.adrequest_id}}</td>
         <td>{{negotiation.adrequest.message}}</td>
         <td>{{negotiation.adrequest.requirements}}</td>
         <td>{{negotiation.adrequest.payment_amount}}</td>
          <td>{{negotiation.adrequest.status}}</td>
         <td>{{negotiation.negotiation}}</td>
         <td>
            {% if negotiation.adrequest.status=='PENDING' %}
            <form action='/influencer/show/{{negotiation.adrequest.adrequest_id}}' method='POST'>
               <div class='input-group'>
               <input type='text' class='form-control font-size-sm' id='negotiation' name='negotiation' placeholder='Enter amount or OK'>

               <button type='submit' class='btn btn-info text-white'>Negotiate</button>
                 </div>
               </form>
            {% else %}
            <h6 class='text-danger'>Request already accepted</h6>
            {% endif %}

          </td>
       </tr>
       {% endif %}
       {% endfor %}
      
     </table>
      {% else %}<h1 class='text-center text-danger mt-5'>No Notifications Yet</h1>

     {% endif %}

</div>

{% endblock %}